<div ng-include src="'partials/nav.html'"></div>
<div ng-include src="'partials/header.html'"></div>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="row">
                <div class="col-md-12">

                    <div class="row">

                        <div class="col-md-4">

                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Visualizar pessoa</h3>
                                </div>
                                <div class="panel-body text-center">
                                    Aqui Você Pode Visualizar as Pessoas!
                                    </br></br>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <a href="/#person" class="btn btn-primary btn-lg">
                                                <span class="glyphicon glyphicon-user"></span>  Ver!
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

						<div class="col-md-4">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Adicionar pessoa</h3>
                                </div>
                                <div class="panel-body text-center">
                                    Aqui Você Pode Adicionar Pessoa!
                                    </br></br>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <a href="/#person-add" class="btn btn-primary btn-lg">
                                                <span class="glyphicon glyphicon-plus"></span> Add!
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
						
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>







