<div class="row-fluid">
    <div class="span12">
        <img class="about-icon" src="img/discuss.png" width="50" style="float: left;">
        <h4>Seja bem vindo</h4>
		<br />
        <p>Conseguimos autenticar sua conta agora você já pode continuar seus testes, obrigado por nos escolher.</p>
		<p>Se encontrar algum problema entre em contato conosco que iremos resolver o mais rápido possível.</p>		
		<!--<input type="text" id="name1" name="name1" value="<%= _hash %>"/>
		<input type="text" id="name2" name="name2" value="<%= _token %>"/> -->
    </div>
</div>